*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Fichiers de clés — NE JAMAIS committer
*.jks
*.keystore
keystore.properties

# Fichiers de logs
*.log
